@font-face {
  font-family: NittiNormal;
  font-weight: 300;
  src: url("../fonts/NN.woff") format("woff"); }
@font-face {
  font-family: NittiBold;
  font-weight: 500;
  src: url("../fonts/NB.woff") format("woff"); }
@font-face {
  font-family: NittiGrotesk;
  font-weight: 300;
  src: url("../fonts/NGN.woff") format("woff"); }
@font-face {
  font-family: NittiGroteskBold;
  font-weight: 500;
  src: url("../fonts/NGB.woff") format("woff"); }
/* line 1, _base.scss */
html {
  box-sizing: border-box;
  font-size: 20px; }

/* line 6, _base.scss */
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: 0; }

/* line 13, _base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: NittiGroteskBold; }

/* line 17, _base.scss */
p, a, li, ul {
  font-family: NittiGrotesk; }

/* line 21, _base.scss */
ul {
  list-style: none; }

/* line 25, _base.scss */
a {
  color: #000000;
  text-decoration: none; }

@media (min-width: 400px) {
  /* line 9, _mediaqueries.scss */
  html {
    font-size: 16px; } }
@media (min-width: 600px) {
  /* line 15, _mediaqueries.scss */
  html {
    font-size: 18px; } }
@media (min-width: 800px) {
  /* line 21, _mediaqueries.scss */
  html {
    font-size: 20px; } }
@media (min-width: 1000px) {
  /* line 27, _mediaqueries.scss */
  html {
    font-size: 22px; } }
@media (min-width: 1200px) {
  /* line 33, _mediaqueries.scss */
  html {
    font-size: 26px; } }
@media (min-width: 1600px) {
  /* line 39, _mediaqueries.scss */
  html {
    font-size: 32px; } }
/* line 1, _layout.scss */
.layout__body {
  display: flex;
  flex-direction: column;
  background: #f4f6f4; }

/* line 7, _layout.scss */
.layout__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh; }

/* line 16, _layout.scss */
.layout__item--footer {
  min-height: unset; }

/* line 20, _layout.scss */
.layout__item-top {
  width: 100%; }

/* line 24, _layout.scss */
.layout__item-grid-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  padding: 4.5rem 0 4.5rem 0; }
  @media (min-width: 600px) {
    /* line 24, _layout.scss */
    .layout__item-grid-content {
      width: 30rem; } }

/* line 36, _layout.scss */
.layout__item-offgrid-content {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 1;
  flex-grow: 1;
  width: auto;
  padding: 0 0 4.5rem 0; }
  @media (min-width: 1000px) {
    /* line 36, _layout.scss */
    .layout__item-offgrid-content {
      padding: 4.5rem 0; } }

/* line 50, _layout.scss */
.layout__item-offgrid-content--no-padding {
  padding: 0; }

/* line 54, _layout.scss */
.layout__item-partners {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 4.5rem 1.5rem; }

@media (max-width: 600px) {
  /* line 1, _helpers.scss */
  .hidden-sm {
    display: none; } }

@media (max-width: 800px) {
  /* line 7, _helpers.scss */
  .hidden-md {
    display: none; } }

/* line 13, _helpers.scss */
.brand-primary {
  background: #E5CF39; }

/* line 17, _helpers.scss */
.brand-secundary {
  background: #75C7B3; }

/* line 21, _helpers.scss */
.brand-tertiary {
  background: #E34D2F; }

/* line 25, _helpers.scss */
.brand-base {
  background: #000000;
  color: #FFFFFF; }

/* line 30, _helpers.scss */
.brand-baselight {
  background: #f4f6f4; }

/* line 1, modules/_nav.scss */
.nav {
  width: 100%;
  padding: 1.5rem 1.5rem 0 0.5rem; }

/* line 6, modules/_nav.scss */
.nav__link {
  display: inline-block;
  padding: 0 0.5rem;
  margin: 0 0 0.5rem 1rem;
  background: #000000;
  font-family: NittiBold;
  font-size: 0.5rem;
  line-height: 1.5rem;
  color: #FFFFFF; }
  @media (min-width: 800px) {
    /* line 6, modules/_nav.scss */
    .nav__link {
      padding: 0 1.5rem; } }
  @media (min-width: 1600px) {
    /* line 6, modules/_nav.scss */
    .nav__link {
      font-size: 0.75rem;
      line-height: 2.25rem; } }

/* line 29, modules/_nav.scss */
.nav__link--is-active {
  background: #FFFFFF;
  color: #000000; }

/* line 1, modules/_textbar.scss */
.textbar {
  display: inline-block;
  padding: 0 1rem 0 0.75rem;
  margin-bottom: 0.5rem;
  background-color: #000000;
  color: #FFFFFF;
  font-family: NittiBold;
  font-size: 1.1rem;
  line-height: 1.5rem; }

/* line 14, modules/_textbar.scss */
.textbar--inverse {
  background-color: #f4f6f4;
  color: #000000; }

/* line 19, modules/_textbar.scss */
.textbar--big {
  font-size: 1.875rem;
  line-height: 2rem; }
  @media (min-width: 600px) {
    /* line 19, modules/_textbar.scss */
    .textbar--big {
      font-size: 3.75rem;
      line-height: 4rem; } }

/* line 28, modules/_textbar.scss */
.textbar--fullwidth {
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem; }

/* line 37, modules/_textbar.scss */
.textbar--fullwidth-small {
  width: 100%;
  padding: 0 1rem 0 1.5rem; }

/* line 3, modules/_textbox.scss */
.textbox {
  padding: 0 1.5rem; }

/* line 7, modules/_textbox.scss */
.textbox--padding-bottom {
  padding: 0 1.5rem 1.5rem 1.5rem; }

/* line 11, modules/_textbox.scss */
.textbox > p, .textbox > a, .textbox > ul > li {
  font-size: 1rem;
  line-height: 1.5rem; }

/* line 16, modules/_textbox.scss */
.textbox--accent > p:first-child {
  margin: 0 0 3rem 0;
  font-family: NittiGroteskBold;
  font-size: 1.25rem;
  line-height: 1.75rem; }

/* line 24, modules/_textbox.scss */
.textbox > p:last-child {
  margin: 0; }

/* line 29, modules/_textbox.scss */
.textbox > h2:last-of-type {
  padding-top: 3rem; }

/* line 33, modules/_textbox.scss */
.textbox > p {
  padding-bottom: 0.5rem; }

/* line 37, modules/_textbox.scss */
.textbox > ul {
  padding-bottom: 0.5rem;
  list-style: square;
  list-style-position: inside; }

/* line 44, modules/_textbox.scss */
.textbox--align-right {
  text-align: right; }

/* line 48, modules/_textbox.scss */
.textbox__link {
  color: white; }

/* line 1, modules/_hammer.scss */
.hammer {
  overflow: hidden;
  width: 100%;
  align-self: flex-start; }

/* line 7, modules/_hammer.scss */
.hammer__image {
  display: block;
  width: 80%;
  max-width: 50vw;
  margin: 0 0 0 auto; }

/* line 14, modules/_hammer.scss */
.hammer__image--header {
  position: relative;
  left: 15%;
  transform: rotate(45deg); }

/* line 5, modules/_image.scss */
.image--fullwidth {
  width: 100%;
  padding: 4.5rem 0 0 0; }

/* line 12, modules/_image.scss */
.image--halfwidth {
  width: 50%;
  margin: 0 auto; }

/* line 17, modules/_image.scss */
.image--padding {
  padding: 4.5rem 1.5rem 4.5rem 1.5rem; }
  @media (min-width: 600px) {
    /* line 17, modules/_image.scss */
    .image--padding {
      padding: 4.5rem; } }

/* line 1, modules/_reference.scss */
.references-title {
  padding: 0.5rem 1.5rem 0.5rem 0; }

/* line 5, modules/_reference.scss */
.reference {
  width: 100%;
  max-width: 16rem;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border-right: 0.5rem solid #000000;
  background: #E5CF39;
  text-align: right; }

/* line 18, modules/_reference.scss */
div:last-of-type.reference {
  margin: 0; }

/* line 23, modules/_reference.scss */
.reference__title {
  font-size: 1rem;
  line-height: 1.25rem; }

/* line 28, modules/_reference.scss */
.reference__description {
  max-height: 0;
  height: auto;
  overflow: hidden;
  transition: max-height 0.5s linear; }

/* line 36, modules/_reference.scss */
.reference:hover > .reference__description,
.reference:active > .reference__description {
  max-height: 9rem;
  transition: max-height 0.5s linear 0.5s; }

/* line 42, modules/_reference.scss */
.reference__summery {
  font-size: 1rem;
  line-height: 1.25rem; }

/* line 1, modules/_partner.scss */
.partner {
  width: calc((1/2 * 100%) - (0.5rem * 3));
  border-bottom: 0.5rem solid #000000;
  margin: 0 1.5rem 1.5rem 0;
  padding: 0.5rem;
  background: #E5CF39; }
  @media (min-width: 600px) {
    /* line 1, modules/_partner.scss */
    .partner {
      width: calc((1/2 * 100%) - (0.5rem * 3)); } }
  @media (min-width: 800px) {
    /* line 1, modules/_partner.scss */
    .partner {
      width: calc((1/3 * 100%) - (0.5rem * 3)); } }
  @media (min-width: 1200px) {
    /* line 1, modules/_partner.scss */
    .partner {
      width: calc((1/4 * 100%) - (0.5rem * 3)); } }

/* line 20, modules/_partner.scss */
.partner__name {
  font-family: NittiGroteskBold;
  font-size: 0.75rem;
  line-height: 1rem; }

/* line 26, modules/_partner.scss */
.partner__job {
  font-family: NittiGrotesk;
  font-size: 0.75rem;
  line-height: 1rem; }
